<div class="search-form">
    <form action="" method="get">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Tìm kiếm</label>
            <input
                type="text"
                class="form-control"
                name="q"
                id="exampleFormControlInput1"
                placeholder="Gõ gì đó đi ..."
            />
        </div>
        <button type="submit" class="btn btn-primary">
            Tìm kiếm
        </button>
    </form>
</div>